{% extends 'base.html' %}
{% block title %} Password changed! {% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br><br>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Password changed successfully!</h5>
                        <a href="{% url 'home-page' %}" class="btn btn-primary">Return to homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}