{% extends 'base.html' %}
{% block title %} Password reset confirmed! {% endblock %}

{% block content %}
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br><br>
                <div class="card">
                    <div class="card-header">
                        You are about to reset your password!
                    </div>
                    <div class="card-body">
                        <p class="card-text">An e-mail has been sent with the rest password link. Check your
                            inbox!</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'home-page' %}" class="btn btn-outline-info">Back to Home Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
